
/*网页样式重置reset*/
html { font-size:1em}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*统一样式*/
body { margin:0 auto; width:640px; background:#fff; font-family:"微软雅黑"; }
img { max-width:100%; }
.css_sprite01 { background:url(../../images/605/css_sprite01.png)no-repeat; background-repeat: no-repeat; }

/*统一功能元件样式 f-*/
.f-fl { float:left; }
.f-fr { float:right; }
.f-imgW01 { max-width:640px; }
.f-imgW02 {width:320px; height:320px;}
.f-imgW02 img {width:100%; height:100%}
.f-tit01 { height:96px; line-height:96px; font-size:38px; color:#0e0e0e; text-align:center; }
.f-txt01 { font-size:24px; color:#646464; line-height:130%; }

/*统一模块元件样式 u-*/
.u-ipnut-198 { width:198px; }
.u-ipnut-540 { width:510px; }
.u-ipnut-540 { width:510px; }
.u-word { font-size:36px; color:#0e0e0e; text-align:center; }

/*统一皮肤 s-*/
.s-col01 { color:#ffae01; }
.s-col02 { color:#597d9a; }
.s-col03 { color:#23c4e5; }
.s-bg01 { background-color:#ffae01; }
.s-bg02 { background-color:#597d9a; }
.s-bg03 { background-color:#23c4e5; }
.s-bgEnBt { background-position: 0 0; }
.s-bglocation { background-position: 0 -70px; }
.s-bgmail { background-position: -40px -70px; }
.s-bgtel { background-position: -105px -70px; }
.s-bglogo { background-position: -174px -70px; }

/* 统一功能模块样式 fn- */
.fn-envelop { position:fixed; z-index:500; height:100%; width:100%;
  -o-transform-origin:left top;
  -ms-transform-origin:left top;
  -webkit-transform-origin:left top;
  -moz-transform-origin:left top;
  transform-origin:left top;

  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform:) rotateX(0);
  transform: rotateX(0);

  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
  transition:all 0.5s;
}
.fn-envelop .envelop-bd { position:absolute; top:0; left:0; height:100%; width:640px;z-index:30000;}
.fn-envelop .envelop-bd img { height:100%; width:100%; }
.fn-envelop .envelop-bt { position:absolute; top:90%; left:0; height:0; height: 70px; width: 640px;
  -o-transform-origin:left top;
  -ms-transform-origin:left top;
  -webkit-transform-origin:left top;
  -moz-transform-origin:left top;
  transform-origin:left top;
  
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -ms-transition:all 1s;
  -o-transition:all 1s;
  transition:all 1s;
}
.fn-envelop.open {
  -webkit-transform: rotateX(30deg);
  -moz-transform: rotateX(30deg);
  -ms-transform: rotateX(30deg);
  -o-transform: rotateX(30deg);
  transform: rotateX(30deg);
}
.fn-envelop.open .envelop-bd { height:90%; }
.fn-envelop.open .envelop-bt { height:10%;
  -webkit-transform: rotateX(110deg);
  -moz-transform: rotateX(110deg);
  -ms-transform: rotateX(110deg);
  -o-transform: rotateX(110deg);
  transform: rotateX(110deg);	
}
.fn-envelop.finish { top:-100%; }

/*------------------------------------------------------------------------------------------------------------------------*/
/*index*/
.p-index { opacity:0; height:0;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}
.p-index.show { opacity:1; height:100%; }

/*布局 g-*/
.g-hd { padding-top:100px; }
.g-hd h1 { padding-left:27px; margin-bottom:15px; font-size:30px; color:#5c5c5c; font-weight:normal; }
.g-hd h1 span { display:block; margin-top: font-size:24px; font-family:"宋体"; letter-spacing:-2px; }
.g-ct { margin-bottom:18px; }
.g-ft { height:100px; line-height:100px; text-align:center; font-size:24px; color:#636363; background:url(../../images/605/bg02_index.gif) left top repeat; }
.g-ft span { width:30px; height:24px; display: inline-block; }

/*模块 m-*/
.m-intro .intro01 p.txt { margin-top:19px; padding:0 19px; line-height:150%; }

.m-need { margin-bottom:90px; }
.m-tm h3 { margin:0 auto 40px; width:140px; height:140px; line-height:140px; text-align:center; border:1px solid #517897; border-radius:50%;  background:#597d9a; font-size:34px; color:#fff; }
.m-tm h4 { height:100px; line-height:100px; background:#597d9a; font-size:34px; text-align:center; color:#fff; }

.m-map .location { position:relative; }
.m-map .location p {display:inline-block;bottom:0; left:0; width: 580px; height:60px; line-height:60px; font-size:24px; color:#fff; text-align:center; }
.m-map .location span {display: inline-block; float: right;height: 45px;margin-right: 14px;margin-top: 1px; width: 40px; height: 59px; }
.m-cform .contact { margin:20px 0; padding:0 20px; }
.m-cform .contact ul { overflow:hidden; height:100%; }
.m-cform .contact ul li { float:left; margin-right:20px; width:290px; }
.m-cform .contact ul li h3 { font-size:0; }
.m-cform .contact ul li h3 a { display:block; margin:0 auto 5px; width:115px; height:115px; line-height:115px; border:2px solid #e2e8ec; border-radius:50%; text-align:center; background:#f6f6f6; }
.m-cform .contact ul li h3 a em { display: inline-block; width: 65px; height: 67px; margin-left: 10px; vertical-align: middle; }
.m-cform .contact ul li span { display:block; width:0; height:0; margin:0 auto;
	border-style: solid;
	border-width: 14px 14px 14px 14px;
	border-color: transparent transparent #597d9a transparent;
}
.m-cform .contact ul li p a { display:block; height:100%; widows:100%; color:#fff; word-wrap: break-word;padding:10px;text-align:center; font-size:30px; background:#597d9a; border-radius:8px; }
.m-cform .contact ul li:last-child { margin-right:0; }
.m-cform .contact ul li:last-child h3 img { margin-left:15px; }
.m-cform form { padding:0 28px 40px; }
.m-cform table { border-top:2px solid #e2e8ec; border-left:2px solid #e2e8ec; }
.m-cform table tbody th,.m-cform table tbody td { padding:18px 0; font-size:24px; color:#646464; border-right:2px solid #e2e8ec; border-bottom:2px solid #e2e8ec; }
.m-cform table tbody th { background:#f9f9f9; }
.m-cform table tbody td { padding:10px; background:#fff; text-align:center; }
.m-cform table tbody td input,.m-cform table tbody td select { height:100%; width:350px; border:none; }
.m-cform .submit { margin:40px auto 0; width:300px; height:70px; border-bottom:10px solid #54a000; border-radius:8px; background:#88c941; text-align:center; font-size:30px; }
.m-cform .submit input { padding-top:15px; width:100%; height:100%; border:none; color:#fff; background:none; font-weight:bold; }

.m-list01 h4 { width:165px; height:44px; line-height:44px; font-size:28px; color:#fff; text-align:center; }
.m-list01 .list01-ct { display:table;margin:20px 0; overflow:hidden; width:100%;height:100%; }
.m-list01 .list01-ct .ct-img { width:320px; height:320px;}
.m-list01 .list01-ct .ct-txt { width:290px; margin-left:15px; word-break:break-all; }
.list01-ct > div{display:table-cell;vertical-align:middle}
.m-list02 {margin-bottom:20px; overflow:hidden; height:100%; }
.m-list02 p { position:relative; width:330px; height:100%; line-height:100%; }
.m-list02 p span { position:absolute; left:-120px; top:-120px; display:block; margin-top:50%; margin-left:50%; width:240px; height:240px; line-height:240px; text-align:center; }
.m-list02 p span img { width:175px; border-radius:500px;}
.m-list02 dl { padding-bottom:13px; width:290px; background:url(/template/7/img/bg03_index.png) left bottom no-repeat; }
.m-list02 dl dt { font-size:28px; margin-bottom:15px; font-weight:bold; }
.m-list02 dl dd { font-size:24px; margin-bottom:15px; color:#686868; }
.m-list02 dl dd:last-child { margin-bottom:0; }

.m-list03 { display:table;width:100%;margin-bottom:20px; overflow:hidden; height:100%; background:rgba(255,255,255,0.5); }
.m-list03 > div{display:table-cell;vertical-align:middle}
.m-list03 .list03-txt {padding-left:10px; }

.dialog-overlay { background: none repeat scroll 0 0 #000000; display: none; height: 100%; left: 0; opacity: 0.7; position: absolute; top: 0; width: 100%; z-index: 2013; }
.dialog { background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px 6px 6px 6px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); width:430px; height:auto; display: none; left: 35%; opacity: 1; position: fixed; top: 35%; z-index: 2014;}
.dialog .bar {border-bottom: 1px solid #EEEEEE;font-size: 25px;height: 40px;line-height: 40px;padding: 6px 10px;text-align: center;}
.dialog .content { padding:0;min-height: 100px;max-height: 500px; text-align:center;}
#close-dialog-btn{margin-bottom: 10px;background-color: #DA4F49;background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);color: #FFFFFF;height: 55px;width: 140px;background-repeat: repeat-x;border-image: none;border-radius: 4px 4px 4px 4px;border-style: solid;border-width: 1px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);font-size:26px;}
#close-dialog-btn:hover{background-color:#bd362f;background-image: none;}
.dialog .modal-body{font-size: 30px;max-height: 500px;overflow: hidden;padding: 20px 0;width: 100%;word-wrap: break-word;}

.anchorBL {display: none;}
#over-box{
	display:none;
	position:fixed;
	width:100%;
	background:rgba(0,0,0,0.8);
	top:0;
	left:0;
	text-align:center;
	z-index:999999;
}

.form_verity {
    background-color: #FAA732;
    border-radius: 6px 6px 6px 6px;
    display: none;
    margin: 0 auto -70px;
    padding: 17px;
    position: relative;
    text-align: center;
    width: 68%;
    z-index: 500;
}

.form_verity_word {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

