html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, body {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
}
#owl-demo1 ,.owl-stage-outer,.owl-stage,.owl-item,.item{
    height: 100%;
    width: 100%;
}
.item{
    padding-top:20%;
}
.owl-controls{
    position: fixed;
    left:0;
    right:0;
    bottom:0;
}
.owl-item:nth-child(1){
    background: #d35400;
}
.owl-item:nth-child(2){
    background: #d35400;
}
.owl-item:nth-child(3){
    background: #2c3e50;
}
.owl-item:nth-child(4){
    background: #1abc9c;
}
.owl-item:nth-child(5){
    background: #2980b9;
}
.owl-item:nth-child(6){
    background: #d35400;
}
.owl-item:nth-child(7){
    background: #2c3e50;
}
.owl-item:nth-child(8){
    background: #1abc9c;
}
.owl-item:nth-child(9){
    background: #2980b9;
}
.owl-item:nth-child(10){
    background: #d35400;
}
.owl-item:nth-child(11){
    background: #2c3e50;
}
.owl-item:nth-child(12){
    background: #1abc9c;
}
.owl-item:nth-child(13){
    background: #1abc9c;
}