/**
 *  作者：叼怎么写！- -||
 *  时间：2014-03-12
 *  准则：NEC
 *  联系：wechat--shoe11414255
 *  创意源于生活，代码如诗从你我开始
 *  OOCSS虽好，需培养，需规范，需慢慢品尝
 *********************************************************************************************/
@charset "utf-8";
/* =reset 网页样式重置
------------------------------------------------------------------------------------------------------------------------------*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;overflow:-moz-scrollbars-vertical;/*强制firefox出现滑动条*/}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input:focus { outline: none; }
input,button,select,textarea{outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ }
textarea{resize:none;/*-webkit-appearance:none;*//*强制去除textarea自带的样式*/ }

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle;outline:none;}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/* =global 统一样式
--------------------------------------------------------------------------------------------------------------------------------*/
html {height: 100%;}
body {height: 100%;width:640px;margin:0 auto;font-family:"黑体"; }
body img {max-width:100%;} /*图片自适应*/
body h1,body h2,body h3,body h4,body h5,body h6,body strong {font-weight:normal;} /*微软雅体 将原有的bold属性去掉*/
body.fixed {overflow: hidden; height: 100%!important;}
body.perspective { 
	-webkit-perspective: 1000px; 
	   -moz-perspective: 1000px;  
	        perspective: 1000px; 
}
/* 改变动画的效果方式*/
* {
  -webkit-transition-timing-function: ease-in-out!important;
     -moz-transition-timing-function: ease-in-out!important;
      -ms-transition-timing-function: ease-in-out!important;
       -o-transition-timing-function: ease-in-out!important;
          transition-timing-function: ease-in-out!important;
}
.css_sprite01 { background:url(../../images/609/css_sprite01.png) center; background-repeat: no-repeat; } /*sprite图片合并*/
 
/* =function 功能样式 
-----------------------*/
.f-hide { display: none!important; }
.f-size60 { font-size: 60px; }
.f-size40 { font-size: 40px; }
.f-size36 { font-size: 36px; }
.f-size30 { font-size: 30px; }
.f-size24 { font-size: 24px; }

.f-tc { text-align: center; }
.f-tr { text-align: right; }

.f-pad-20 { padding:20px; }
.f-pad-lr-20 { padding-left:20px; padding-right:20px; }
.f-pad-lr-30 { padding-left:20px; padding-right:30px; }
.f-pad-lr-40 { padding-left:40px; padding-right:40px; }
.f-pad-t-30 { padding-top:30px; }
.f-pad-t-50 { padding-top:50px; }
.f-pad-b-50 { padding-bottom:50px; }

.f-fl { float: left; }
.f-fr { float: right; }

.f-plus { font-size: 70px; }

/* =unit 统一元件样式 
-----------------------*/
/*声音控件*/
.u-audio { position:fixed; top:25px; right:15px; z-index:80; width:310px; height:120px; text-align:center; overflow: hidden; }
.u-audio .audio_btn { position: absolute; top: 50%; right: 30px; margin-top:-33px; height: 65px; width: 60px; overflow: hidden; }
.u-audio .audio_btn p { width:60px; height:65px; }
.u-audio .audio_btn p span { display: inline-block; width: 60px; height: 61px; }
.u-audio .audio_btn audio { height:0; width:0; opacity:0; }
.u-audio .audio_txt { position:absolute; top:50%; right:90px; height:40px; margin-top: -20px; overflow:hidden; opacity:1; z-index:2000; 
	-webkit-transition: opacity 1s;
	   -moz-transition: opacity 1s;
	    -ms-transition: opacity 1s;
	     -0-transition: opacity 1s;
	        transition: opacity 1s;
}
.u-audio .audio_txt.hide { opacity: 0; }
.u-audio .audio_txt p { float:left; background:rgba(29,119,197,0.7); font-size:16px; color:#fff; font-weight:bold; }
.u-audio .audio_txt p:first-child { padding:0 10px; height:40px; line-height:40px; border-bottom-left-radius:10px; border-top-left-radius:10px; }
.u-audio .audio_txt p:last-child { 
	border-style: solid;
	border-width: 20px;
	border-color: transparent transparent transparent rgba(29,119,197,0.7);
	background:none;	
}
.u-audio .audio_txt.close { opacity:0; }

/*标题-1*/
.u-titile01 { width: 640px; height: 90px; line-height: 90px; text-align: center; font-size: 40px; color: #fff; background: #0e62ae; }
.u-titile02 { width: 640px; height: 90px; line-height: 90px; text-align: center; font-size: 40px; color: #fff; background: #0e62ae; }

/*展开提示*/
.u-expand { display: inline-block; 
	border-width:34px;
	border-style:solid;
	border-color: transparent #009ffa #009ffa transparent;
}

/*手引指示按钮*/
.u-arrow { display: none; position: fixed; bottom: 50px; left:50%; z-index:50; width: 58px; height: 58px; margin-left: -29px; }
.u-arrow.move {
	-webkit-animation: fengJump 2s infinite;
	   -moz-animation: fengJump 2s infinite;
	    -ms-animation: fengJump 2s infinite;
	     -o-animation: fengJump 2s infinite;
	        animation: fengJump 2s infinite;
}

/*圆圈内容btn*/
.u-imgHeader { cursor:pointer; width:190px; height:190px; border-radius:50%; }
.u-imgHeader p { width:190px; height:190px; line-height: 190px; text-align: center; border-radius:50%; }
.u-imgHeader p img { max-width:100%; }

/*关闭按钮*/
.u-close { position:absolute; width:30px; height:30px; top:20px; right:20px; cursor:pointer; }
.u-close:before { position:absolute; top:0; left:50%; display:block; content:''; margin-left:-3px; width:6px; height:30px; background:#999;
	-webkit-transform-origin:center;
	   -moz-transform-origin:center;
	    -ms-transform-origin:center;
	     -o-transform-origin:center;
	        transform-origin:center;
	
	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.u-close:after { position:absolute; top:0; left:50%; display:block; content:''; margin-left:-3px; width:6px; height:30px; background:#999; 
	-webkit-transform-origin:center;
	   -moz-transform-origin:center;
	    -ms-transform-origin:center;
	     -o-transform-origin:center;
	        transform-origin:center;
	
	-webkit-transform:rotate(-45deg);
	   -moz-transform:rotate(-45deg);
     	-ms-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
        	transform:rotate(-45deg);
}

/* =skin 统一皮肤样式 
-----------------------*/
.s-col-txt01 { color: #2067c0; }
.s-col-txt02 { color: #0268bc; }
.s-col-txt03 { color: #0e62ae; }
.s-col-txt04 { color: #ca8b2a; }
.s-col-999 { color: #444; }
.s-col-666 { color: #666; }
.s-col-333 { color: #333; }
.s-col-fff { color: #fff; }

.s-bg-fff { background: #fff!important; }
.s-bg-fengye-2 { background: top no-repeat; background-size: cover; }
.s-bg-intro-2 { background-size: cover; background-repeat: no-repeat; }
.s-bg-wifiTv { background-position: top left; background-repeat: no-repeat; }
.s-bg-funs { background-position: top center; background-repeat: no-repeat; }
.s-bg-funs-2 { background-position: top left; background-size: cover; background-repeat: no-repeat; }
.s-bg-funs-ul { background: url(/template/17/img/bg01_funs.png) left bottom no-repeat; }
.s-bg-3d { background-position: top center; background-repeat: no-repeat; }
.s-bg-wifishow { background-position:top left; background-repeat:no-repeat; }
.s-bg-fly { background: #efefef!important; }

.s-bg-audio_close { background-position: 0 0; }
.s-bg-audio_open { background-position: -60px 0; }
.s-bg-book_time { background-position: -120px 0; }
.s-bg-book_tel { background-position: -162px 0; }
.s-bg-book_back { background-position: -149px -44px; }
.s-bg-book_location { background-position: -120px -44px; }
.s-bg-book_location02 { background-position: -204px 0; }
.s-bg-book_location03 { background-position: -239px 0; }
.s-bg-map-logo { background-position: 0 -61px; }

/* =Layout 布局样式 
-----------------------*/
.p-ct { position: relative; width: 100%; height: 100%; }
.p-ct.fixed { overflow: hidden; }
/*3d特效*/
.transformNode-3d {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	
	transform: rotateX(0);
	-webkit-transform: rotateX(0);
	-moz-transform: rotateX(0);
	-ms-transform: rotateX(0);
	-o-transform: rotateX(0);
}
.transformNode-3d.move {
	-webkit-transition:all 1s;
	   -moz-transition:all 1s;
	    -ms-transition:all 1s;
	     -o-transition:all 1s;
	        transition:all 1s;
}
.transformNode-3d.open {
	-webkit-transform: rotateX(90deg);
	   -moz-transform: rotateX(90deg);
	    -ms-transform: rotateX(90deg);
	     -o-transform: rotateX(90deg);
	        transform: rotateX(90deg);
}
.transformNode-3d .transformNode-front { 
	-webkit-backface-visibility:hidden;
	   -moz-backface-visibility:hidden;
	        backface-visibility:hidden;

	-webkit-transform:scale3d(.69,.69,.73) translate3d(0,0,445px);
	   -moz-transform:scale3d(.69,.69,.73) translate3d(0,0,445px);
	        transform:scale3d(.69,.69,.73) translate3d(0,0,445px);
}
.transformNode-3d .transformNode-back {
	-webkit-backface-visibility:hidden;
	   -moz-backface-visibility:hidden;
	        backface-visibility:hidden;
	
	-webkit-transform:scale3d(.7,.7,.7) rotate3d(1,0,0,-90deg) translate3d(0,0,440px);
	   -moz-transform:scale3d(.7,.7,.7) rotate3d(1,0,0,-90deg) translate3d(0,0,440px);
	        transform:scale3d(.7,.7,.7) rotate3d(1,0,0,-90deg) translate3d(0,0,440px);
}
/*2特效*/
.transformNode-2d .hebaodan .m-fengye { width: 320px; height: 100%; overflow:hidden;}
.transformNode-2d .hebaodan .m-fengye-1 { left: -200px; padding-left:200px; }
.transformNode-2d .hebaodan .m-fengye-2 { left: 320px; margin-right:50%; }
.transformNode-2d .hebaodan .m-fengye-2 .page-con{ left: -320px; }
.transformNode-2d .hebaodan.move .m-fengye {
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
         -o-transition: all 1s; 
	        transition: all 1s;
}
.transformNode-2d .hebaodan.out .m-fengye-1 {
	-webkit-transform: rotate(-8deg) translate3d(-80%,0,0);
	   -moz-transform: rotate(-8deg) translate3d(-80%,0,0);
	    -ms-transform: rotate(-8deg) translate3d(-80%,0,0);
	     -o-transform: rotate(-8deg) translate3d(-80%,0,0);
	        transform: rotate(-8deg) translate3d(-80%,0,0);
}
.transformNode-2d .hebaodan.out .m-fengye-2 {
	-webkit-transform: rotate(8deg) translate3d(130%,0,0);
	   -moz-transform: rotate(8deg) translate3d(130%,0,0);
	    -ms-transform: rotate(8deg) translate3d(130%,0,0);
	     -o-transform: rotate(8deg) translate3d(130%,0,0);
	        transform: rotate(8deg) translate3d(130%,0,0);
}
/* 封面旋转特效 ************************************/
.transformNode-front { position: absolute; top: 0; left: 0; z-index: 10; height: 100%; width: 100%; overflow:hidden; }
.transformNode-back { height: 100%; width: 100%; overflow:hidden; opacity: 0; }
.transformNode-back.show { opacity: 1; }

/* =modle 模块样式
----------------------------------------------------------------------------------------------------------------------------------*/
/* =container 内容区
----------------------*/
/*单页面模块*/
.m-page { position: absolute; top:0; left: 0; width:100%; z-index: 9; background: #e2e2e2; }
.m-page.fixed { position: fixed; }
.m-page.move {
	-webkit-transition:all 0.3s;
  	   -moz-transition:all 0.3s;
	    -ms-transition:all 0.3s;
	     -o-transition:all 0.3s;
	        transition:all 0.3s;
}
.m-page.active { z-index:10; }
.m-page .page-con { position: relative; width: 100%; }

/*封页模块*/
.m-fengye { position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; }
.m-fengye .page-con { position:absolute; height:100%; width:640px; }
.m-fengye .img { padding-top: 280px; height: 606px; overflow: hidden; width: 640px; }
.m-fengye .img img { opacity: 0; max-width: 100%;
	-webkit-transition: opacity 0.5s 0.5s;
	   -moz-transition: opacity 0.5s 0.5s;
	    -ms-transition: opacity 0.5s 0.5s;
	     -o-transition: opacity 0.5s 0.5s;
	        transition: opacity 0.5s 0.5s;
}
.m-fengye .img img.show { opacity: 1; }
.m-fengye .img svg { position: absolute; top: 0; left: 0; opacity: 1;
	-webkit-transition: opacity 1s;
	   -moz-transition: opacity 1s;
  	    -ms-transition: opacity 1s;
   	     -o-transition: opacity 1s;
	        transition: opacity 1s;
}

/*介绍-2-3-4-6-7*/
/*介绍-统一样式-intro-style01*/
.intro-style01 .page-con { text-align: center; }
.intro-style01 .page-con .img img { display: inline-block; max-width: 100%; }
.intro-style01 .page-con .img img.lazy-img { margin-top: 40%; }

/*介绍-5*/
/*介绍-统一样式-intro-style02*/
.intro-style02 .header_img { width: 100%; overflow: hidden; height: 100%;}
.intro-style02 .header_img .img-con { width:320px; min-height: 180px; overflow:hidden; }
.intro-style02 .header_img .img-con ul {width: 100%;height: 100%;overflow: hidden;}
.intro-style02 .header_img .img-con ul li { margin-bottom:120px; height: 256px; opacity:0; text-align: center; 
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
  	    -ms-transition: all 1s;
   	     -o-transition: all 1s;
	        transition: all 1s;
}
.intro-style02 .header_img .img-con ul li .name { margin-top: 15px; color: #000; font-size: 36px; }
.intro-style02 .header_img .img-con ul li:last-child { margin-bottom: 0; }

.intro-style02 .header_img .img_left { padding-top: 40px;}
.intro-style02 .header_img .img_left  ul li { float:right; margin-right:320px; }

.intro-style02 .header_img .img_right { padding-top: 220px;}
.intro-style02 .header_img .img_right ul li { float:left; margin-left:320px; }

.intro-style02 .header_img .img_left  ul li.show { margin-right:50px; opacity:1; }
.intro-style02 .header_img .img_right ul li.show { margin-left:40px; opacity:1; }

.m-flypop { display: none; position:fixed; z-index:-10; top:0; left:0; height:100%; width:100%; }
.m-flypop ul { position:relative; width:100%; height:100%; background:rgba(0,0,0,0.6); opacity:0; 
	-webkit-transition: opacity 0.5s;
       -moz-transition: opacity 0.5s;
        -ms-transition: opacity 0.5s;
      	 -o-transition: opacity 0.5s; 
	        transition: opacity 0.5s;
}
.m-flypop ul li { position:absolute; top:50%; left:60px; margin:-380px 0 0 0; width:480px; padding: 0 20px; height:760px; border:3px solid #d4d8d9; border-radius:20px; background:#e6e6e6; opacity:0; 
	-webkit-transition: opacity 0.5s;
	   -moz-transition: opacity 0.5s;
	    -ms-transition: opacity 0.5s;
	     -o-transition: opacity 0.5s; 
	        transition: opacity 0.5s;
}
.m-flypop ul li .flyInPop { position:relative;}
.m-flypop ul li .flyInPop-top { margin-top:40px; padding-bottom:40px; height:200px; width:100%; overflow:hidden; border-bottom:1px solid #c4c4c4; }
.m-flypop ul li .flyInPop-top .u-imgHeader { position: relative; visibility:hidden; margin-left:20px; }
.m-flypop ul li .flyInPop-top .txtHeader { width:234px; margin-left:10px; font-size: 40px; color: #000; text-align: center; }
.m-flypop ul li .flyInPop-con { padding:30px 20px; height:387px; overflow-y:auto; border-top: 1px solid #fff; }
.m-flypop ul li .flyInPop-con p { line-height:150%; font-size:22px; color:#000; text-align:left;}
.m-flypop ul li .flyInPop-con p img { display: inline-block; margin-top: 30px; max-width: 100%; text-align: center; }

.m-flypop.show { display:block; z-index:100; }
.m-flypop ul.show { opacity:1; }
.m-flypop ul li.show { opacity:1; }
.m-flypop ul li .u-close.start { 
	-webkit-animation: popupClose 0.5s;	
	   -moz-animation: popupClose 0.5s;
    	-ms-animation: popupClose 0.5s;
    	 -o-animation: popupClose 0.5s;
        	animation: popupClose 0.5s;
}
.m-flypop ul li .flyInPop-top .u-imgHeader.show { visibility:visible; }
.m-flypop .clone {
	-webkit-transition:-webkit-transform 1.5s;
  	   -moz-transition:-moz-transform 1.5s;
	    -ms-transition:-ms-transform 1.5s;
	     -o-transition:-o-transform 1.5s;
	        transition:transform 1.5s;

	-webkit-transform:scale(0.1);
	   -moz-transform:scale(0.1);
	    -ms-transform:scale(0.1);
	     -o-transform:scale(0.1);
	        transform:scale(0.1);
}
.m-flypop .clone.move {
	-webkit-transform:scale(1);
	   -moz-transform:scale(1);
	    -ms-transform:scale(1);
	     -o-transform:scale(1);
	        transform:scale(1);
}

/*wifiTV*/
.m-wifiTV .wifiTv-tv { width: 640px; height:560px; overflow: hidden; }
.m-wifiTV .wifiTv-tv h4 { width: 640px; height: 225px; }
.m-wifiTV .wifiTv-tv h4 span { display: none; width: 100%; height: 100%; }
.m-wifiTV .wifiTv-tv h4 span img { max-width: 100%; }
.m-wifiTV .wifiTv-tv h4 span.on { display: block; }
.m-wifiTV .wifiTv-tv .tv-show { width: 488px; height: 277px; line-height: 277px; padding: 0 77px 60px 77px; text-align: center; }
.m-wifiTV .wifiTv-tv .tv-show img { display: none; }
.m-wifiTV .wifiTv-tv .tv-show img:first-child { display: inline-block; }
.m-wifiTV .wifiTv-mobile { position: relative; width: 640px; height: 333px; padding-top:10px; overflow: hidden; }
.m-wifiTV .wifiTv-mobile .arrow { position: absolute; top: 50%; width: 34px; height: 59px; margin-top: -17px; overflow: hidden; }
.m-wifiTV .wifiTv-mobile .arrow-left { left: 48px; }
.m-wifiTV .wifiTv-mobile .arrow-right { right: 48px; }
.m-wifiTV .wifiTv-mobile .arrow-right img { 
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
	        transform: rotate(-180deg);
}
.m-wifiTV .wifiTv-mobile .arrow-left.move {
	-webkit-animation: wifiJump_left 2s infinite;
	   -moz-animation: wifiJump_left 2s infinite;
	    -ms-animation: wifiJump_left 2s infinite;
	     -o-animation: wifiJump_left 2s infinite;
	        animation: wifiJump_left 2s infinite;
}
.m-wifiTV .wifiTv-mobile .arrow-right.move {
	-webkit-animation: wifiJump_right 2s infinite;
	   -moz-animation: wifiJump_right 2s infinite;
	    -ms-animation: wifiJump_right 2s infinite;
	     -o-animation: wifiJump_right 2s infinite;
	        animation: wifiJump_right 2s infinite;
}

.m-wifiTV .wifiTv-mobile ul { position: relative; margin:0 auto; }
.m-wifiTV .wifiTv-mobile ul li { text-align: center;
	-webkit-transform-style: preserve-3d; 
	   -moz-transform-style: preserve-3d; 
	        transform-style: preserve-3d;

	-webkit-perspective: 640px; 
	   -moz-perspective: 640px; 
	        perspective: 640px;
	
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	     -o-transition: all 0.5s;
	        transition: all 0.5s;
}
.m-wifiTV .wifiTv-mobile ul li p { width: 100%; height: 100%; 
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	     -o-transition: all 0.5s;
	        transition: all 0.5s;
}
.m-wifiTV .wifiTv-mobile ul li.rotate01 p { 
	-webkit-transform: rotateY(30deg);
	   -moz-transform: rotateY(30deg);
	        transform: rotateY(30deg);

	-webkit-transform-origin:0;
	   -moz-transform-origin:0;
	        transform-origin:0;
}
.m-wifiTV .wifiTv-mobile ul li.rotate02 p { 
	-webkit-transform: rotateY(-30deg);
	   -moz-transform: rotateY(-30deg);
	        transform: rotateY(-30deg);

	-webkit-transform-origin:100%;
	   -moz-transform-origin:100%;
	        transform-origin:100%;
}
.m-wifiTV .wifiTv-mobile ul li p i { position: absolute; top: 2px; left:0; z-index: 9; width:100%; height: 100%; background:rgba(0,0,0,0.7); 
	-webkit-transition: background 0.5s;
	   -moz-transition: background 0.5s;
	    -ms-transition: background 0.5s;
	     -o-transition: background 0.5s;
	        transition: background 0.5s;
}
.m-wifiTV .wifiTv-mobile ul li p img { width: 100%; height: 100%; }
.m-wifiTV .wifiTv-mobile ul li p.on i { background: rgba(0,0,0,0); }

/*手机的样式*/
.m-wifiTV-mb .wifiTv-mobile ul { width: 158px; height: 333px; }
.m-wifiTV-mb .wifiTv-mobile ul li { position: absolute; left: 9px; top: 43px; width: 140px; height: 244px; line-height: 244px; }

/*平板的样式*/
.m-wifiTV-pad .wifiTv-mobile ul { margin-top: 40px; width: 405px; height: 230px; }
.m-wifiTV-pad .wifiTv-mobile ul li { position: absolute; left: 0; top: 0; width: 405px; height: 230px; line-height: 230px; }
.m-wifiTV .wifiTv-mobile ul li p.on {
	-webkit-box-shadow: 0 0 10px 4px #3d4529;
	-moz-box-shadow: 0 0 10px 4px #3d4529;
	-ms-box-shadow: 0 0 10px 4px #3d4529;
	-o-box-shadow: 0 0 10px 4px #3d4529;
	box-shadow: 0 0 10px 4px #3d4529;
}

/*功能介绍*/
.m-funs .page-con { position: relative; }
.m-funs .funs-show { width: 640px; min-height: 545px; }
.m-funs .funs-show .txt { display: none; min-height: 545px; text-align: center; font-size: 0; }
.m-funs .funs-show .txt.on { display: block; }
.m-funs .funs-menu { width: 640px; height: 120px; margin-top: 150px; overflow: hidden; }
.m-funs .funs-menu ul { width: 640px; height: 150px; text-align: center; }
.m-funs .funs-menu ul li { display: inline-block; width: 116px; height: 116px; margin-right: 24px; text-align: center; }
.m-funs .funs-menu ul li span { display: inline-block; }
.m-funs .funs-menu ul li span:first-child { width: 90px; height: 68px; margin-top: 5px; overflow:hidden; }
.m-funs .funs-menu ul li span:last-child { margin-top: 5px; font-size: 22px; color: #717070; }
.m-funs .funs-menu ul li:last-child { margin-right: 0; }

.m-funs .funs-menu ul li { background-repeat: no-repeat; background-position: 0 0; }
.m-funs .funs-menu ul li.on { background-repeat: no-repeat; background-position: 0 -116px; }

/*3d展示*/
.m-3dDisplay .display-con { padding-top: 180px; }
.m-3dDisplay .display-con .imgbox-3d { position: relative; width: 640px; height: 480px; text-align: center; }
.m-3dDisplay .display-con .imgbox-3d .arrow { display: none; position: absolute; top: 50%; z-index: 10; width: 19px; height: 41px; margin-top: -20px; }
.m-3dDisplay .display-con .imgbox-3d .arrow_left { left:50px; }
.m-3dDisplay .display-con .imgbox-3d .arrow_right { right:50px; }

.m-3dDisplay .display-con .imgbox-3d .img { height: 480px; width:100%; overflow: hidden; }
.m-3dDisplay .display-con .imgbox-3d .img img { width: 100%; }

/*工艺介绍*/
.m-crafts .crafts-con { height: 100%; background:#e2e2e2; }
.m-crafts .crafts-con h4 { height: 104px; line-height: 104px; margin-bottom: 50px;}
.m-crafts .crafts-con .list { width: 640px; overflow: hidden; height: 218px; padding-bottom: 21px;overflow: hidden; margin-bottom: 30px; }
.m-crafts .crafts-con .list .txt { width: 205px; height: 218px; line-height: 218px; vertical-align: top; opacity: 0; text-align: center;
	-webkit-transition:all 1s;
	   -moz-transition:all 1s;
	    -ms-transition:all 1s;
	     -o-transition:all 1s;
	        transition:all 1s;	
}
.m-crafts .crafts-con .list .txt strong { display: inline-block; font-size: 36px; line-height: 140%; }
.m-crafts .crafts-con .list .txt span { display: inline-block; font-size: 30px; line-height: 140%; color: #000; }
.m-crafts .crafts-con .list .img { width: 415px; height: 218px; line-height: 218px; overflow: hidden; opacity: 0; text-align: center;
	-webkit-transition:all 1s;
	   -moz-transition:all 1s;
	    -ms-transition:all 1s;
	     -o-transition:all 1s;
	        transition:all 1s;
}
.m-crafts .crafts-con .list .img img { max-width: 100%; }
.m-crafts .crafts-con .list:nth-child(2n) .txt,.m-crafts .crafts-con .list:nth-child(2n) .img { float: left; }
.m-crafts .crafts-con .list:nth-child(2n) .txt { 
	-webkit-transform: translateX(-230px);
	   -moz-transform: translateX(-230px);
	    -ms-transform: translateX(-230px);
	     -o-transform: translateX(-230px);
	        transform: translateX(-230px);
}
.m-crafts .crafts-con .list:nth-child(2n) .img {  
	-webkit-transform: translateX(420px);
	   -moz-transform: translateX(420px);
	    -ms-transform: translateX(420px);
	     -o-transform: translateX(420px);
	        transform: translateX(420px);
}

.m-crafts .crafts-con .list:nth-child(2n+1) .txt,.m-crafts .crafts-con .list:nth-child(2n+1) .img { float: right; }
.m-crafts .crafts-con .list:nth-child(2n+1) .txt {
	-webkit-transform: translateX(230px);
	   -moz-transform: translateX(230px);
	    -ms-transform: translateX(230px);
	     -o-transform: translateX(230px);
	        transform: translateX(230px);
}
.m-crafts .crafts-con .list:nth-child(2n+1) .img { 
	-webkit-transform: translateX(-420px);
	   -moz-transform: translateX(-420px);
	    -ms-transform: translateX(-420px);
	     -o-transform: translateX(-420px);
	        transform: translateX(-420px);
}
.m-crafts .crafts-con .list.show .txt,.m-crafts .crafts-con .list.show .img { 
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	     -o-transform: translateX(0);
	        transform: translateX(0);
	opacity: 1;
}

/*预定*/
.m-book .page-con { width: 640px; overflow: hidden; background-position: center top; }
.m-book .book-way .way .txt { width:640px; height: 240px; text-align: center; }
.m-book .book-way .way .btn {width: 640px; }
.m-book .book-way .way .btn p { width:560px; margin:0 auto 30px; }
.m-book .book-way .way .btn p a { position: relative; display: block; height: 92px; line-height: 92px; border-radius:10px; text-align: center; }
.m-book .book-way .way .btn p a span { display: inline-block; vertical-align: middle; margin-right: 15px; width: 48px; height: 54px; }
.m-book .book-way .way .btn p.map a { background: url(../../images/609/bg01_book.gif) left top repeat-x; }
.m-book .book-way .way .btn p.share a { background: url(../../images/609/bg02_book.gif) left top repeat-x; }
.m-book .book-way .way .btn p.map span { background-position: 0 -257px; }
.m-book .book-way .way .btn p.share span { background-position: -48px -257px; }
.m-book .book-way .way .wx-share { position: fixed; top: 0; left: 0; z-index: 999; width: 100%; height: 100%; background: rgba(0,0,0,0.7); }
.m-book .book-way .way .wx-share img { max-width: 100%; }

.m-book .book-place { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 40; 
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	     -o-transform: translateX(0);
	        transform: translateX(0);

	-webkit-transition:all 0.5s;
	   -moz-transition:all 0.5s;
	    -ms-transition:all 0.5s;
	     -o-transition:all 0.5s;
	        transition:all 0.5s;
}
.m-book .book-place.hide {  
	-webkit-transform: translateX(640px);
	   -moz-transform: translateX(640px);
	    -ms-transform: translateX(640px);
	     -o-transform: translateX(640px);
	        transform: translateX(640px);
}
.m-book .book-place.inherit { position: inherit; }
.m-book .book-place h4 { position: relative; }
.m-book .book-place h4 a.back { display: inline-block; position: absolute; top: 0; left: 0; width: 90px; height: 90px; line-height: 90px; background: #07569d; }
.m-book .book-place h4 a.back span { display: inline-block; width:21px; height: 28px; vertical-align: middle; }
.m-book .book-place h4 a.city { display: inline-block; position: absolute; top:31px; right: 24px; height: 29px; line-height: 29px; padding-right: 53px; }
.m-book .book-place h4 a.city span:last-child { position: absolute; top: 0; right: 0; display: inline-block; width: 29px; height: 29px; }
.m-book .book-place .place-con .top { padding: 40px 20px; width: 600px; overflow: hidden; }
.m-book .book-place .place-con .top a { display: block; float: left; width: 180px; height: 70px; overflow: hidden; margin-right: 30px; }
.m-book .book-place .place-con .top a:last-child { margin-right:0; }
.m-book .book-place .place-con .top a span { display: block; float: left; height: 70px; line-height: 70px; text-align: center; }
.m-book .book-place .place-con .top a span:nth-child(1) { width: 118px; background:#eee; border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.m-book .book-place .place-con .top a span:nth-child(2) { width: 62px; background:#ddd;  border-top-right-radius: 8px; border-bottom-right-radius: 8px; }
.m-book .book-place .place-con .con { background: #fff; position:relative;}
.m-book .book-place .place-con .con ul { padding-bottom: 25px; }
.m-book .book-place .place-con .con ul li { position: relative; padding:20px 115px 40px 65px; margin-bottom: 20px; background: #f0f0f0; }
.m-book .book-place .place-con .con ul li h5,.m-book .book-place .place-con .con ul li p { width: 420px; }
.m-book .book-place .place-con .con ul li h5 { margin-bottom: 10px; }
.m-book .book-place .place-con .con ul li span.loc_icon { position: absolute; top: 20px; left: 16px; display: inline-block; width: 35px; height: 50px; }
.m-book .book-place .place-con .con ul li span.sel_icon { display: none; position: absolute; bottom: 0; right: 0; width: 73px; height: 73px; }
.m-book .book-place .place-con .con ul li.on span.sel_icon { display: inline-block; }
.m-book .book-place .place-con .con .page-loading{position:absolute;left:0;top:0;width:100%;height:100%;z-index:9999;display:none;}
.m-book .book-place .place-con .con .page-loading img{display:block;margin:44% auto;height:100px;}
/*popup-弹出层*/
.m-popup_book { position: fixed; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; background: rgba(0,0,0,0.5); opacity: 1;
	-webkit-transition:all 0.5s;
	   -moz-transition:all 0.5s;
	    -ms-transition:all 0.5s;
	     -o-transition:all 0.5s;
	        transition:all 0.5s;
}
.m-popup_book.show { opacity: 1; }
.m-popup_book .popup-con { position: absolute; top: 50%; left: 115px; width: 410px; height: 570px; overflow-y:auto; margin-top: -285px; border-radius:10px; opacity: 0;
	-webkit-box-shadow: 0 0 0 6px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0 0 0 6px rgba(0,0,0,0.4);
	    -ms-box-shadow: 0 0 0 6px rgba(0,0,0,0.4);
	     -o-box-shadow: 0 0 0 6px rgba(0,0,0,0.4);
	        box-shadow: 0 0 0 6px rgba(0,0,0,0.4);

	-webkit-transition:all 0.5s;
	   -moz-transition:all 0.5s;
	    -ms-transition:all 0.5s;
	     -o-transition:all 0.5s;
	        transition:all 0.5s;

	-webkit-transform:scale(0.2);
	   -moz-transform:scale(0.2);
	    -ms-transform:scale(0.2);
	     -o-transform:scale(0.2);
	        transform:scale(0.2);
}
.m-popup_book .popup-con.show { 
	opacity: 1;

	-webkit-transform:scale(1);       
	   -moz-transform:scale(1);
	    -ms-transform:scale(1);
	     -o-transform:scale(1);
	        transform:scale(1);
}
.m-popup_book .popup-con ul li { padding: 20px 0; border-bottom: 1px solid #ebe9ec; border-top:1px solid #dad9dc; }
.m-popup_book .popup-con ul li:first-child { border-top: none; }
.m-popup_book .popup-con ul li:last-child { border-bottom: none; }
.m-popup_book .popup-con ul li.on { background: #3a94e2; }
.m-popup_book .popup-con .page-loading{position:absolute;width:100%;height:100%;left:0;top:0;z-index:9999;display:none;}
.m-popup_book .popup-con .page-loading img{margin:50% auto;width:80px;display:block;}

/* =plugin 插件模块样式
----------------------------------------------------------------------------------------------------------------------------------*/
/*轮播图*/
.m-imgBox { height: 380px; width: 640px; }

/*地图*/
.ylmap { display: none; position: fixed; top: 100%; left: 0; width: 100%; z-index:40; overflow: hidden;  
	-webkit-transition: top 0.5s;
	   -moz-transition: top 0.5s;
	    -ms-transition: top 0.5s;
	     -o-transition: top 0.5s;
	        transition: top 0.5s;
}
.ylmap.mapOpen { top:90px; }
.ylmap.show { display:block; }
.ylmap .bk{position:absolute;width:100%;height:100%;text-align:center;z-index:-1;background: #efebed;}
.ylmap .bk span{display: inline-block; margin-top: 48%; width: 60px;height: 60px; }

/*视频*/
.video-content{width:100%;height:420px;}
.video-content video{width:100%;height:420px;}
.video-img{width:100%; height:540px; background-image:url(/template/17/img/video-bk.jpg);background-position:0% 0%;background-size:cover;}

/*链接组件*/
.link-content{background-image:url(/template/17/img/video-bk.jpg);background-position:50% 0%;background-size:cover;width:100%;height:100%;}
.link-content .link-img:nth-of-type(1){padding-top:122px;}
.link-content .link-img{width:580px;margin:0px 30px 16px 30px;height:145px;}
.link-content .link-img img{height:100%;width:100%;}

/*微信下载提示***/
.wx-down-notice{position:fixed;left:0;top:0;z-index:9999;width:100%;height:100%;background:rgba(0,0,0,0.5);display:none;}
.wx-down-notice.show{display:block;}

/*销售入口****/
.market-notice{position:fixed;left:0;bottom:0px;z-index:9;height:101px;width:100%;text-align:center;
	-webkit-transform: translateY(100px);
	   -moz-transform: translateY(100px);
	    -ms-transform: translateY(100px);
	     -o-transform: translateY(100px);
	        transform: translateY(100px);

	-webkit-transition:all 0.5s;
	   -moz-transition:all 0.5s;
	        transition:all 0.5s;
}
.market-notice img{display:inline-block;width:640px;height:101px;}
.market-notice.show {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
}
.market-page{position:fixed;left:0;bottom:0;height:100%;width:100%;overflow:hidden;background:rgba(0,0,0,0.7);z-index:10;opacity: 0;
	-webkit-transition:all 0.2s;
	   -moz-transition:all 0.2s;
	        transition:all 0.2s;
}
.market-page.show{ opacity: 1; }
.market-img{position:absolute;bottom:0;height:500px;width:640px;background-image:url(/template/17/img/market-bk.jpg);background-repeat:no-repeat;
	-webkit-transform: translateY(500px);
	   -moz-transform: translateY(500px);
	    -ms-transform: translateY(500px);
	     -o-transform: translateY(500px);
	        transform: translateY(500px);

	-webkit-transition:all 0.5s;
	   -moz-transition:all 0.5s;
	        transition:all 0.5s;
}
.market-img a:nth-of-type(1){position:absolute;top:220px;left:40px;}
.market-img a:nth-of-type(2){position:absolute;top:350px;left:40px;width:560px;height:90px;}
.market-img.show {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
}
/* =animate 动画模块样式
----------------------------------------------------------------------------------------------------------------------------------*/
/*封面手引*/
@keyframes fengJump {
	0%   {transform:translateY(0);}
	20%  {transform:translateY(0);}
	40%  {transform:translateY(-40px);}
	50%  {transform:translateY(0);}
	60%  {transform:translateY(-15px);}
	80%  {transform:translateY(0);}
	100% {transform:translateY(0);}
}
@-webkit-keyframes fengJump {
	0%   {-webkit-transform:translateY(0);}
	20%  {-webkit-transform:translateY(0);}
	40%  {-webkit-transform:translateY(-40px);}
	50%  {-webkit-transform:translateY(0);}
	60%  {-webkit-transform:translateY(-15px);}
	80%  {-webkit-transform:translateY(0);}
	100% {-webkit-transform:translateY(0);}
}
@-moz-keyframes fengJump {
	0%   {-moz-transform:translateY(0);}
	20%  {-moz-transform:translateY(0);}
	40%  {-moz-transform:translateY(-40px);}
	50%  {-moz-transform:translateY(0);}
	60%  {-moz-transform:translateY(-15px);}
	80%  {-moz-transform:translateY(0);}
	100% {-moz-transform:translateY(0);}
}
@-ms-keyframes fengJump {
	0%   {-ms-transform:translateY(0);}
	20%  {-ms-transform:translateY(0);}
	40%  {-ms-transform:translateY(-40px);}
	50%  {-ms-transform:translateY(0);}
	60%  {-ms-transform:translateY(-15px);}
	80%  {-ms-transform:translateY(0);}
	100% {-ms-transform:translateY(0);}
}
@-o-keyframes fengJump {
	0%   {-o-transform:translateY(0);}
	20%  {-o-transform:translateY(0);}
	40%  {-o-transform:translateY(-40px);}
	50%  {-o-transform:translateY(0);}
	60%  {-o-transform:translateY(-15px);}
	80%  {-o-transform:translateY(0);}
	100% {-o-transform:translateY(0);}
}

/*wifitv手引--左边*/
@keyframes wifiJump_left {
	0%   {transform:translateX(0);}
	20%  {transform:translateX(0);}
	40%  {transform:translateX(-40px);}
	50%  {transform:translateX(0);}
	60%  {transform:translateX(-15px);}
	80%  {transform:translateX(0);}
	100% {transform:translateX(0);}
}
@-webkit-keyframes wifiJump_left {
	0%   {-webkit-transform:translateX(0);}
	20%  {-webkit-transform:translateX(0);}
	40%  {-webkit-transform:translateX(-40px);}
	50%  {-webkit-transform:translateX(0);}
	60%  {-webkit-transform:translateX(-15px);}
	80%  {-webkit-transform:translateX(0);}
	100% {-webkit-transform:translateX(0);}
}
@-moz-keyframes wifiJump_left {
	0%   {-moz-transform:translateX(0);}
	20%  {-moz-transform:translateX(0);}
	40%  {-moz-transform:translateX(-40px);}
	50%  {-moz-transform:translateX(0);}
	60%  {-moz-transform:translateX(-15px);}
	80%  {-moz-transform:translateX(0);}
	100% {-moz-transform:translateX(0);}
}
@-ms-keyframes wifiJump_left {
	0%   {-ms-transform:translateX(0);}
	20%  {-ms-transform:translateX(0);}
	40%  {-ms-transform:translateX(-40px);}
	50%  {-ms-transform:translateX(0);}
	60%  {-ms-transform:translateX(-15px);}
	80%  {-ms-transform:translateX(0);}
	100% {-ms-transform:translateX(0);}
}
@-o-keyframes wifiJump_left {
	0%   {-o-transform:translateX(0);}
	20%  {-o-transform:translateX(0);}
	40%  {-o-transform:translateX(-40px);}
	50%  {-o-transform:translateX(0);}
	60%  {-o-transform:translateX(-15px);}
	80%  {-o-transform:translateX(0);}
	100% {-o-transform:translateX(0);}
}

/*wifitv手引--右边*/
@keyframes wifiJump_right {
	0%   {transform:translateX(0);}
	20%  {transform:translateX(0);}
	40%  {transform:translateX(40px);}
	50%  {transform:translateX(0);}
	60%  {transform:translateX(15px);}
	80%  {transform:translateX(0);}
	100% {transform:translateX(0);}
}
@-webkit-keyframes wifiJump_right {
	0%   {-webkit-transform:translateX(0);}
	20%  {-webkit-transform:translateX(0);}
	40%  {-webkit-transform:translateX(40px);}
	50%  {-webkit-transform:translateX(0);}
	60%  {-webkit-transform:translateX(15px);}
	80%  {-webkit-transform:translateX(0);}
	100% {-webkit-transform:translateX(0);}
}
@-moz-keyframes wifiJump_right {
	0%   {-moz-transform:translateX(0);}
	20%  {-moz-transform:translateX(0);}
	40%  {-moz-transform:translateX(40px);}
	50%  {-moz-transform:translateX(0);}
	60%  {-moz-transform:translateX(15px);}
	80%  {-moz-transform:translateX(0);}
	100% {-moz-transform:translateX(0);}
}
@-ms-keyframes wifiJump_right {
	0%   {-ms-transform:translateX(0);}
	20%  {-ms-transform:translateX(0);}
	40%  {-ms-transform:translateX(40px);}
	50%  {-ms-transform:translateX(0);}
	60%  {-ms-transform:translateX(15px);}
	80%  {-ms-transform:translateX(0);}
	100% {-ms-transform:translateX(0);}
}
@-o-keyframes wifiJump_right {
	0%   {-o-transform:translateX(0);}
	20%  {-o-transform:translateX(0);}
	40%  {-o-transform:translateX(40px);}
	50%  {-o-transform:translateX(0);}
	60%  {-o-transform:translateX(15px);}
	80%  {-o-transform:translateX(0);}
	100% {-o-transform:translateX(0);}
}

/*wifiTV 无限wifi指引*/
/*第一个狐*/
@-webkit-keyframes wifi_01 {
    0% { opacity: 0; }
    33% { opacity: 1; }
    100% { opacity: 1; }
}
@-moz-keyframes wifi_01 {
    0% { opacity: 0; }
    33% { opacity: 1; }
    100% { opacity: 1; }
}
@-ms-keyframes wifi_01 {
    0% { opacity: 0; }
    33% { opacity: 1; }
    100% { opacity: 1; }
}
@-o-keyframes wifi_01 {
    0% { opacity: 0; }
    33% { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes wifi_01 {
	0% { opacity: 0; }
    33% { opacity: 1; }
    100% { opacity: 1; }
}

/*第二个狐*/
@-webkit-keyframes wifi_02 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 1; }
}
@-moz-keyframes wifi_02 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 1; }
}
@-ms-keyframes wifi_02 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 1; }
}
@-o-keyframes wifi_02 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes wifi_02 {
	 0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 1; }
}

/*第三个狐*/
@-webkit-keyframes wifi_03 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes wifi_03 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes wifi_03 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes wifi_03 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes wifi_03 {
	 0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}

/*close关闭按钮*/
@keyframes popupClose {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
} 
@-webkit-keyframes popupClose {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(359deg);}
}
@-moz-keyframes popupClose {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(359deg); }
}
@-o-keyframes popupClose {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(359deg); }
}
@-ms-keyframes popupClose {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(359deg); }
}


