/* 
 *  轻App框架样式（框架级）
 * ----------------------------------
 *  作者：Charles
 *  时间：2014-04-26
 *  准则：app规范
 *  联系：16295853（qq）
 *****************************************************************************************/

/*全局样式*/
html, body{width: 100%; height: 100%; overflow: hidden; background-color: #515363;}
body{font-size: 14px; color: #333333; font-family: '微软雅黑', '宋体'; background-color: #fff; letter-spacing: 1px; box-shadow: 0px 0px 160px 0px #5C99E7; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; -khtml-user-select: none; user-select: none;}
a{font-family: '微软雅黑', '宋体';}
a,button,input,select,textarea,form{-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*全局样式 end*/


/*app布局样式*/

.app{width: 640px; margin: 0px auto; box-sizing: border-box;}
.app-header{position: fixed; top: 0px; width: 640px; z-index: 100;}
.app-content{position: relative; width: 640px; height: 100%; overflow: hidden; box-sizing: border-box;}
.app-footer{position: fixed; bottom: 0px; width: 640px; z-index: 100;}
/*app布局样式 end*/


/*app附属样式*/
.app-pages{}
.app-pages .page{position: relative; height: 1000px;}

.app{background-size: cover;}
/*.app.appBg1{background: url(img/appBg1.jpg);}*/
/*.app.appBg2{background: url(img/appBg2.jpg);}*/
/*app附属样式 end*/


/*page布局样式*/
.page{position: absolute; z-index: 0;width: 100%; height: 100%;border: 0px;box-sizing: border-box;-webkit-transform-origin: center center; display: -webkit-box;-webkit-box-orient: vertical; background-color: #fff; background-position: top center; background-size: cover;overflow: hidden;display: none; }
.page.z-active{z-index: 2; display: block;}
.page.z-current{z-index: 1; display: block;}
.page-header{height: 60px; background-color: #183d61; overflow: hidden; -webkit-box-flex: 0;}
.page-header h2{color: #fff; font-size: 32px; font-weight: normal; margin: 0px; padding: 0px 0px 0px 30px;  height: 70px; line-height: 70px;}
.page-content{overflow: hidden; -webkit-box-flex: 100;}
.page-footer{}

.page.z-active{}
.page.z-current{}
/*page布局样式 end*/


/*loading样式*/
.app-loading{position: fixed; top: 50%; left: 50%; margin: -48px auto auto -48px; width: 95px; height: 95px; display: block; opacity: 1; -webkit-transition: all 0.5s; z-index: 99999;}
.app-loading.z-hide,
.app-loading2.z-hide{opacity: 0; visibility: hidden;}

.app-loading .cycleWrap,
.app-loading .lineWrap { position: absolute; width: 94px; height: 85px; }
.app-loading .cycle,
.app-loading .line { display: block; position: absolute; background: #6eae44; }
.app-loading .cycle { z-index: 10; width: 18px; height: 18px; border-radius:50%; 
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
}
.app-loading .cycle-1 { right: 0; bottom: 0; }
.app-loading .cycle-2 { left: 0; bottom: 0; }
.app-loading .cycle-3 { left: 50%; top: 0; margin-left: -9px; }
.app-loading .cycle-4 { right: 18px; top: 50%; margin-top: -8px; }
.app-loading .line { z-index: 9; height: 5px; border-radius: 3px; }
.app-loading .line-1 { right: 9px; bottom: 6px; width:78px; 
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1);
	transform: scale(0,1);

	-webkit-transform-origin: 0;
	-moz-transform-origin: 0;
	transform-origin: 0;
}
.app-loading .line-2 { left: 8px; bottom: 4px; width: 80px; 
	-webkit-transform:rotate(-60deg) scale(0,1);
	-moz-transform:rotate(-60deg) scale(0,1);
	transform:rotate(-60deg) scale(0,1);

	-webkit-transform-origin: 0;
	-moz-transform-origin: 0;
	transform-origin: 0;
}
.app-loading .line-3 { left: 47px; top: 7px; width: 40px;
	-webkit-transform:rotate(60deg) scale(0,1);
	-moz-transform:rotate(60deg) scale(0,1);
	transform:rotate(60deg) scale(0,1);

	-webkit-transform-origin: 0;
	-moz-transform-origin: 0;
	transform-origin: 0;
}
/*动画*/
.app-loading .cycle-1 {
	-webkit-animation: cycleChange 3s infinite ease-in-out;
	moz-animation: cycleChange 3s infinite ease-in-out;
	animation: cycleChange 3s infinite ease-in-out;
}
.app-loading .cycle-2 {
	-webkit-animation: cycleChange 3s .525s infinite ease-in-out;
	moz-animation: cycleChange 3s .525s infinite ease-in-out;
	animation: cycleChange 3s .525s infinite ease-in-out;
}
.app-loading .cycle-3 {
	-webkit-animation: cycleChange 3s 1.05s infinite ease-in-out;
	moz-animation: cycleChange 3s 1.05s infinite ease-in-out;
	animation: cycleChange 3s 1.05s infinite ease-in-out;
}
.app-loading .cycle-4 {
	-webkit-animation: cycleChange 3s 1.575s infinite ease-in-out;
	moz-animation: cycleChange 3s 1.575s infinite ease-in-out;
	animation: cycleChange 3s 1.575s infinite ease-in-out;
}
.app-loading .line-1 {
	-webkit-animation: lineChange01 3s infinite ease-in-out;
	moz-animation: lineChange01 3s infinite ease-in-out;
	animation: lineChange01 3s infinite ease-in-out;
}
.app-loading .line-2 {
	-webkit-animation: lineChange02 3s .525s infinite ease-in-out;
	moz-animation: lineChange02 3s .525s infinite ease-in-out;
	animation: lineChange02 3s .525s infinite ease-in-out;
}
.app-loading .line-3 {
	-webkit-animation: lineChange03 3s 1.05s infinite ease-in-out;
	moz-animation: lineChange03 3s 1.05s infinite ease-in-out;
	animation: lineChange03 3s 1.05s infinite ease-in-out;
}

/*动画代码处理*/
/*cycle*/
@-webkit-keyframes cycleChange {
	0% , 24% , 100% { -webkit-transform: scale(0.0); }
	9% { -webkit-transform: scale(1.2); }
}
@-moz-keyframes cycleChange {
	0% ,24% , 100% { -moz-transform: scale(0.0); }
	9% { -moz-transform: scale(1.2); }
}
@keyframes cycleChange {
	0% ,24% , 100% { transform: scale(0.0); }
	9% { transform: scale(1.2); }
}

/*line*/
@-webkit-keyframes lineChange01 {
	0% { -webkit-transform: translate(76px,0) scale(0,1); }
	18.75% { -webkit-transform: translate(0,0) scale(1,1); }
	37.5% ,100% { -webkit-transform: translate(0,0) scale(0,1); }
}
@-moz-keyframes lineChange01 {
	0% { -webkit-transform: translate(76px,0) scale(0,1); }
	18.75% { -webkit-transform: translate(0,0) scale(1,1); }
	37.5% ,100% { -webkit-transform: translate(,0) scale(0,1); }
}
@keyframes lineChange01 {
	0% { -webkit-transform: translate(76px,0) scale(0,1) scale(0,1); }
	18.75% { -webkit-transform: translate(0,0) scale(1,1) scale(1,1); }
	37.5% ,100% { -webkit-transform: translate(0,0) scale(0,1) scale(0,1); }
}

@-webkit-keyframes lineChange02 {
	0% { -webkit-transform: rotate(-60deg) translate(0,0) scale(0,1); }
	18.75% { -webkit-transform: rotate(-60deg) translate(0,0) scale(1,1); }
	37.5% ,100% { -webkit-transform: rotate(-60deg) translate(78px,0) scale(0,1); }
}
@-moz-keyframes lineChange02 {
	0% { w-webkit-transform: rotate(-60deg) translate(0,0) scale(0,1); }
	18.75% { -webkit-transform: rotate(-60deg) translate(0,0) scale(1,1); }
	37.5% ,100% { -webkit-transform: rotate(-60deg) translate(78px,0) scale(0,1); }
}
@keyframes lineChange02 {
	0% { -webkit-transform: rotate(-60deg) translate(0,0) scale(0,1); }
	18.75% { -webkit-transform: rotate(-60deg) translate(0,0) scale(1,1); }
	37.5% ,100% { -webkit-transform: rotate(-60deg) translate(78px,0) scale(0,1); }
}

@-webkit-keyframes lineChange03 {
	0% { -webkit-transform: rotate(60deg) translate(0,0) scale(0,1); }
	18.75% { -webkit-transform: rotate(60deg) translate(0,0) scale(1,1); }
	37.5% ,100% { -webkit-transform: rotate(60deg) translate(40px,0) scale(0,1); }
}
@-moz-keyframes lineChange03 {
	0% { -webkit-transform: rotate(60deg) translate(0,0) scale(0,1); }
	18.75% { -webkit-transform: rotate(60deg) translate(0,0) scale(1,1); }
	37.5% ,100% { -webkit-transform: rotate(60deg) translate(40px,0) scale(0,1); }
}
@keyframes lineChange03 {
	0% { -webkit-transform: rotate(60deg) translate(0,0) scale(0,1); }
	18.75% { -webkit-transform: rotate(60deg) translate(0,0) scale(1,1); }
	37.5% ,100% { -webkit-transform: rotate(60deg) translate(40px,0) scale(0,1); }
}

.app-loading2{background: url(img/app-loading.png) 0px 0px no-repeat; position: fixed; top: 50%; left: 50%; margin: -48px auto auto -48px; width: 95px; height: 95px; display: block; -webkit-animation: rotataZ 1s linear infinite; opacity: 1; -webkit-transition: all 0.5s; z-index: 99999;}
/*loading样式 end*/
