/* 
 *  轻App页面特殊样式（页面级）
 * ----------------------------------
 *  作者：Charles
 *  时间：2014-04-26
 *  准则：NEC CSS规范
 *  联系：16295853（qq）
 *****************************************************************************************/

/*所有页面*/
 .page-content{height: 100%;}
/*所有页面 end*/

/*index页面*/
@-webkit-keyframes indexBgZoom{
	0%{-webkit-transform: scale(1);}
	100%{-webkit-transform: scale(1.5);}
}
/*index页面 end*/


/*mask页面*/
.page-mask{}
/*.page-teletext.z-move .m-cascadingTeletext{display: none;}*/
/*teletext页面 end*/


/*link页面*/
.page-link .m-link{-webkit-animation: flipinX 1s ease-out backwards; display: none;}
.page-link.z-current .m-link{display: block;}
/*link页面 end*/ 


/*video页面*/
.page-video{}
.page-video .m-btnPlay{-webkit-animation: bouncein 1s ease-out backwards; display: none;}
.page-video.z-current .m-btnPlay{display: block;}
/*video页面 end*/ 


/*map页面*/
.page-map .m-distributedPoints ul li{ visibility: hidden;}
.page-map.z-current .m-distributedPoints ul li{visibility: visible; -webkit-animation: bouncein 1s ease-out backwards;}
.page-map.z-current .m-distributedPoints ul li:nth-child(1){-webkit-animation-delay: 0.2s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(2){-webkit-animation-delay: 0.4s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(3){-webkit-animation-delay: 0.6s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(4){-webkit-animation-delay: 0.8s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(5){-webkit-animation-delay: 1s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(6){-webkit-animation-delay: 1.2s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(7){-webkit-animation-delay: 1.4s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(8){-webkit-animation-delay: 1.6s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(9){-webkit-animation-delay: 1.8s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(10){-webkit-animation-delay: 2s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(11){-webkit-animation-delay: 2.2s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(12){-webkit-animation-delay: 2.4s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(13){-webkit-animation-delay: 2.6s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(14){-webkit-animation-delay: 2.8s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(15){-webkit-animation-delay: 3s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(16){-webkit-animation-delay: 3.2s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(17){-webkit-animation-delay: 3.4s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(18){-webkit-animation-delay: 3.6s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(19){-webkit-animation-delay: 3.8s;}
.page-map.z-current .m-distributedPoints ul li:nth-child(20){-webkit-animation-delay: 4s;}
/*map页面 end*/ 


/*form页面*/
.page-form .m-contactInfo,
.page-form .m-contactUs{-webkit-animation: bounceinT 1s ease-out backwards; display: none;}
.page-form.z-current .m-contactInfo,
.page-form.z-current .m-contactUs{display: block;}

.page-form .u-maskLayer .m-contactForm{-webkit-transition: -webkit-transform 0.5s; -webkit-transform: translateY(-120%);}
.page-form .u-maskLayer.z-show .m-contactForm,
.page-form .u-maskLayer.z-showing .m-contactForm{-webkit-transform: translateY(0%);}
/*form页面 end*/ 